@import "tailwindcss";

:root {
  --bg: 45 50 80;
  /* navy */
  --surface: 66 70 105;
  /* Lighter Blue, for cards and footer */
  --text: 252 243 232;
  /* near-white */
  --textdark: 22 30 49;
  /* near-white */
  --muted: 103 111 157;
  /* muted text */
  --accent: 248 177 121;
  /* warm/oranje */
}


html {
  background-color: rgb(var(--bg));
  color: rgb(var(--text));
  scroll-behavior: smooth;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}